.signUpContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    margin-top: 5px;
}

@media(min-width: 768px){
    .signUpContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 400px;
    }
}

#labelPasswordConfirmation {
    margin: 0;
    padding: 0;
}