.signUpMain {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30%;
    right: 30%;
    width: 40%;
    margin-top: 8%;
}

#labelPasswordConfirmation {
    margin: 0;
    padding: 0;
}