.title {
    width: auto;
    height: auto;
    position: absolute;
    left: 49%;
    top: 3%;
    transform: translate(-50%);
    
}

.icon
 {
    height: auto;
    width: 200px;
}

.logoButton:focus {
    outline: none;
    border: none;
}




