.icon
 {
    height: auto;
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
}

.logoButton:focus {
    outline: none;
    border: none;
}

.title {
    margin-left: 1px;
    flex: 1;
}



