.container {
    display: flex;
    flex-direction: column;
}

.title {
    width: 300px;
}

.chips {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.chipItem {
    margin: 2px;
}

.mainText {
    padding-top: 50px;
}

.save {
    padding-top: 10px;
}


