.container {
    display: flex;
    flex-direction: column;
}

.chips {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.chipItem {
    margin: 2px;
}

.save {
    margin-top: 0px;
    margin-left: 7px;
}

.description {
    margin-left: 7px;
}

.inputs {
    margin-right: 10px;
}

#labelKeyword{
    padding-top: 10px;
}

#txtKeyword {
    margin-bottom: 10px;
}

