.container {
    display: flex;
    flex-direction: column;
}

.title {
    width: 300px;
}

.chips {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chipItem {
    margin: 2px;
}



