.container {
    padding: 20px 10px 20px 0px;
}

.textBar {
    display: flex;
    flex-direction: row;
}

.keys {
    margin-right: 2px;
    margin-top: 2px;
}

.showAll {
    width: 150px;
    margin-top: 10px;
    margin-left: 5px;
}

.results {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
}

.heading {
    font-size: 0.938rem; /*15px*/
    flex-basis: 33.33%;
    flex-shrink: 0;
}


.list {
    width: 100%;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

.seeAll {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #3F51B5;
  }

.pagination {
    padding-left: 30%;
}