.container {
    padding: 20px 10px 20px 0px;
}

.textBar {
    display: flex;
    flex-direction: row;
}

.keys {
    margin-right: 2px;
    margin-top: 2px;
}

.showAll {
    width: 150px;
    margin-top: 10px;
    margin-left: 5px;
}

.results {
    width: 88%;
    margin-top: 10px;
}

.heading {
    font-size: 0.938rem; /*15px*/
    flex-basis: 33.33%;
    flex-shrink: 0;
}

.secondaryHeading {
    font-size: 0.938rem;
    color: rgba(0, 0, 0, 0.54);
}

.list {
    width: 100%;
}