.container {
    top: 15%;
}

.save {
    padding-top: 10px;
}

#labelPassword {
    padding-top: 10px;
}

.viewPassword {
    position: relative;
    left: 91%;
}

.buttonPassword {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    color: white;
    font-size: 14px;
    line-height: 1.2;
}

.buttonPassword:focus {
    outline: none;
}

.buttonPassword:hover {
    color: whitesmoke;
}

.buttonPassword:active {
    position: relative;
    top: 3px;
}