.container {
    top: 15%;
}

#labelPassword {
    padding-top: 10px;
}

.viewPassword {
    position: relative;
}

.buttonPassword {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    color: white;
    font-size: 14px;
    line-height: 1.2;
    position: relative;
    float: right;
    padding-top: 0.7%;
    padding-right: 0.5%;
}

.buttonPassword:focus {
    outline: none;
}

.buttonPassword:hover {
    color: whitesmoke;
}

.buttonPassword:active {
    position: relative;
    top: 3px;
}

.labelInfoId {
    font-family: "Rubik", sans-serif;
    color: white;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 1%;
}