.secretContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 300px;
}

@media(min-width: 768px){
    .secretContainer {
        width: 500px;
    }
}

.labelInfoId {
    color: white;
    line-height: 1.2;
}

