.container {
    top: 15%;
}

.labelInfoId {
    font-family: "Rubik", sans-serif;
    color: white;
    font-size: 14px;
    line-height: 1.2;
}

.secretContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30%;
    right: 30%;
    width: 40%;
}