.container {
    top: 15%;
}

#labelPassword {
    padding-top: 10px;
}

.viewPassword {
    position: relative;
}


.labelInfoId {
    font-family: "Rubik", sans-serif;
    color: white;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 1%;
}