.title {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 4%;
}

.icon
 {
    height: auto;
    width: 200px;
}

.logoButton {
    background-color: transparent;
    border: none;
}

/* This should be visible because some screen readers can lose focus if there is no border */
/* .logoButton:focus {
    outline: none;
    border: none;
} */

.logoButton:hover {
    background-color: transparent;
}




