.registerContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
}

@media(min-width: 768px){
    .registerContainer {
        width: 500px;
    }
}

.chips {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#labelKeyword{
    padding-top: 10px;
}

#txtKeyword {
    margin-bottom: 10px;
}

.textboxMultiline {
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 4px 5.76px 0.24px rgba(37, 35, 35, 0.004);
    color: black;
    padding-top: 10px;
    padding-left: 10px;
}

.textboxMultilineError {
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 4px 5.76px 0.24px rgba(37, 35, 35, 0.004);
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    border: 2px solid #f05152;
}







