.rectangle {
    border-width: 1px;
    border-color: rgb(5, 65, 68);
    border-style: solid;
    min-width: 60px;
    width: auto;
    height: 30px;
    display: flex;
    padding-right: 3px;
    cursor: pointer;
    margin: 3px;
}

.rectangle:hover {
    background-color: #1a9ba3;
}

.content {
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    padding: 7px 5px 0px 5px;
}

.close {
    cursor: pointer;
    background: none;
}

