
.loginContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 35%;
    right: 35%;
    width: 30%;
    margin-top: 8%;
}

.signUpContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 35%;
    right: 35%;
    width: 30%;
}

.loginButton {
    background-color: rgb(11, 82, 86);
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.55);
    position: relative;
    width: 100%;
    height: 35px;
    padding: 2px;
    border: none;
    cursor: pointer;
    display: inline-block;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.loginButton:focus {
    outline: none;
}

.loginButton:hover {
    background-color: #06494c;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.55);
}

.loginButton:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.or {
    position: relative;
    left: 45%;
    margin-top: 20px;
    font-family: "Rubik", sans-serif;
    color: white;
    margin-bottom: 10px;
}