
.loginContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    top: 12%;
    
}

.or {
    position: relative;
    align-self: center;
    color: white;
    padding-top: 4%;
}

@media(min-width: 800px){
    .loginContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-self: center;
        top: 5%;
        width: 350px;
    }
}

.loginButton {
    background-color: rgb(11, 82, 86);
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.55);
    position: relative;
    width: 100%;
    height: 35px;
    padding: 2px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-top: 5%;
}

/* This should be visible because some screen readers can lose focus if there is no border */
/* .loginButton:focus {
    outline: none;
} */

.loginButton:hover {
    background-color: #06494c;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.55);
}

.loginButton:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

/* Sign up button */
.signUpButton {
    background-color: rgb(11, 82, 86);
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.55);
    position: relative;
    width: 100%;
    height: 35px;
    padding: 2px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

/* This should be visible because some screen readers can lose focus if there is no border */
/* .signUpButton:focus {
    outline: none;
} */

.signUpButton:hover {
    background-color: #06494c;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.55);
}

.signUpButton:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

